html {
    /*background-color: black;*/
}

body {
    width: 70%;
    background-color: white;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    min-height: 40px;
}

div {
    border: 1px solid black;
}

#divInput {
    height: 3em;
}



li{
    list-style-type: none;
    margin: 2em auto;
    text-align: center;
    width: 80%;
}
input {
    width: 100%;
    border: none;
    height: 100%;
}

.fleche {
    width: 100%;
    border: 1px solid black;
    border-width: 40px;
    border-color: transparent transparent transparent black;
    height: 0;

}

button{
    background-color: #e6e6e6;
    width: 100%;
    min-height: 3em;
    border: 1px solid black;
    border-radius: 1px;
}

i {
    margin-left: 3em;
    padding: 0.4em 0.5em;
    border-radius: 50%;
    color: #e6e6e6;
    background-color: black;
}

ul {
    padding: 0;
}
#faire li:hover,
#faire li:active{
    background-color: #e6e6e6;
}
#chrono {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 80%;
    min-height: 3em;
}

.encours {
    width: 80%;
    margin: auto;
}

.divTitle {
    border-top: none;
    border-right: none;
}
.col-md-4 {
    min-height: 36em !important;
    border-radius: 9px;
}
.col-md-2 {
    border: none;
}

.col-md-10 {
    border-bottom: none;
}

#firstTitle {
    border: none;
    margin-top: 40px;
    margin-bottom: 0;
}

.container {
    border: none;
}
.row {
    border-radius: 4px;
}

.row:last-child {
    border: none;
}

.no-padding{
    padding: 0 !important;
}
.no-margin {
     margin: 0 !important;
     padding: 0 !important;
 }
